body {
  background-color: rgb(74, 70, 82);
}
.mami-nav-list {
  background-color: rgb(196, 196, 196);
  li {
    margin-right: 1em;
  }
  a {
    font-size: 1.5em;
    color: black;
  }
}
.mami-actor {
  font-size: larger;
  color: rgb(14, 15, 15);
}
.mami-actor:hover {
  color: rgb(6, 248, 115);
}
.mami-background {
  background-color: rgb(119, 110, 110);
}

.mami-bg-color{
  background-color: rgb(172, 166, 167);
  width: 60em;
  height: 30em;
  img{
    height: 30em;
    width: 60em;
    object-fit: cover;
    padding: 0.5em;
  }
}

main{
  margin-top: 1em;
  margin-left: 1em;
}